<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="Wallace Chan">
    <link rel="stylesheet" href="css/default.css">
</head>

<body>
    <div class="page-group">
        <div id="page-activity" class="page page-current">
            <div class="content  infinite-scroll infinite-scroll-bottom" data-distance="100">
                <div class="swiper-container" data-space-between='10'>
                    <div class="swiper-wrapper"> </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list-block media-list">
                    <ul>
                    </ul>
                </div>
                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>
                <div class="footer">
                    <p class="footer-text">版权所有© 广州市鸿畅环保设备有限公司<a class="external" href="http://www.miitbeian.gov.cn/">粤ICP备17111952号</a></p>
                </div>
            </div>
        </div>
        <script id="page-activity-swiper" type="text/html">
            {{each list as $list i }}
            <div class="swiper-slide"><a href="{{$list.url}}"><img src="{{$list.img}}"></a></div>{{/each}}
        </script>
        <script id="page-activity-product" type="text/html">
            {{each list as $list i}}
            <li>
                <a href="details.html?p_id={{$list.id}}" class="item-content">
                    <div class="item-media"><span class="product-img {{if $list.is_hot==1}}hot{{/if}}" style="background-image: url({{if $list.preview==''}}images/category_default_img.jpg{{else}}{{$list.feng_mian_image}}{{/if}});"></span></div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title name">{{$list.name}}</div>
                        </div>
                        <div class="item-text">{{$list.summary}}</div>
                        <div class="item-title-row">
                            <div class="item-title">优惠价:{{$list.current_price}}</div>
                            <div class="item-after"><i class="icon icon-eye"></i><span>{{$list.browse_num}}</span><i class="icon icon-comment"></i><span>{{$list.comment_num}}</span><i class="icon icon-star-empty"></i><span>{{$list.collection_num}}</span></div>
                        </div>
                    </div>
                </a>
            </li>
            {{/each}}
        </script>
    </div>
    <script src="js/zepto.min.js"></script>
    <script src="js/sm.js"></script>
    <script src="js/sm-extend.js"></script>
    <script src="js/sm-city-picker.min.js"></script>
    <script src="js/product-picker.js"></script>
    <script src="js/template.js"></script>
    <script src="js/cropper.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="http://map.qq.com/api/js?v=2.exp&libraries=convertor" charset="utf-8"></script>
    <script src="js/default.js"></script>
</body>

</html>