<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="Wallace Chan">
    <link rel="stylesheet" href="css/default.css">
</head>

<body>
    <div class="page-group">
        <div id="page-order" class="page page-current">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back">
               <span class="icon icon-left"></span>
                  返回
            </a>
                <h1 class="title">确认订单</h1>
            </header>
            <nav class="bar bar-tab">
                <a class="tab-item big-tab-item price-wrapper">合计:<span class="total-price">0</span> </a>
                <a class="tab-item big-tab-item submit-order-btn">提交订单</a>
            </nav>
            <div class="content native-scroll">
                <div class="list-block media-list address-block">
                    <ul>
                        <li>
                            <a href="address.html" class="item-content item-link">
                                <div class="item-media"><i class="icon icon-my-location"></i></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title"></div>
                                        <div class="item-after"></div>
                                    </div>
                                    <div class="item-text">您还没有收货地址
                                        <br>点击填写</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="color-line"></div>
                </div>
                <div class="list-block media-list order-block">
                    <ul>
                    </ul>
                </div>
                <div class="list-block">
                    <ul>
                        <li class="coupon-wrapper">
                            <a class="item-link item-content open-popup" data-popup=".popup-coupon">
                                <div class="item-inner">
                                    <div class="item-title">优惠劵</div>
                                    <div class="item-after">
                                        无可用
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="express-type-wrapper">
                            <a class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">配送方式</div>
                                    <div class="item-after">
                                        <input type="text" class="express-type" readonly>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="inset-map-wrapper hide">
                            <a href="#page-inset-map" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">自提门店</div>
                                    <div class="item-after">
                                        点击选择自提门店
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="align-top">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">买家留言</div>
                                    <div class="item-input">
                                        <textarea placeholder="选填：对本次交易的说明"></textarea>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content ">
                            <div class="item-inner">
                                <div class="item-title"></div>
                                <div class="item-after sum-row">共<span class="total-count">0</span>件商品 小计:<span class="total-price">0</span></div>
                            </div>
                        </li>
                        <li class="item-content  coupon-discount hide">
                            <div class="item-inner">
                                <div class="item-title"></div>
                                <div class="item-after">优惠劵：-￥<span class="discount">0</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="page-inset-map" class="page">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back">
               <span class="icon icon-left"></span>
                  返回
            </a>
                <h1 class="title">附近门店</h1>
            </header>
            <div class="bar bar-header-secondary">
                <div class="buttons-tab">
                    <a href="#tab1" class="tab-link button active">地图</a>
                    <a href="#tab2" class="tab-link button">列表</a>
                </div>
            </div>
            <div class="content native-scroll">
                <div class="tabs">
                    <div id="tab1" class="tab active">
                        <div id="map-container"></div>
                    </div>
                    <div id="tab2" class="tab">
                        <div class="list-block media-list">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Popup -->
        <div class="popup popup-coupon">
            <h2 class="title">优惠劵</h2>
            <div class="list-block media-list">
                <ul>
                </ul>
            </div>
            <a class="close-popup">关闭</a>
        </div>
        <script id="page-order-coupon-item" type="text/html">
            {{each list as $list i}}
            <li>
                <label class="label-checkbox item-content">
                    <input type="radio" name="coupon" value="{{$list.card_json}}" data-id="{{$list.id}}">
                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                    <div class="item-media"><i class="icon icon-coupon"></i></div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{$list.title}}</div>
                        </div>
                        <div class="item-subtitle">-￥<span>{{acc_div($list.reduce_cost,100).toFixed(2)}}</span></div>
                        <div class="item-subtitle">{{if $list.accept_category!=null}}{{$list.accept_category}}型号商品可使{{else}}全场所有型号商品可用{{/if}}</div>
                    </div>
                </label>
            </li>
            {{/each}}
        </script>
        <script id="page-order-item" type="text/html">
            {{each list as $list i }} {{if $list.select==true}}
            <li>
                <a class="item-link item-content" href="details.html?p_id={{$list.p_id}}">
                    <div class="item-media"><span class="product-img" style="background-image: url({{$list.info.feng_mian_image}});"></span></div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{$list.info.name}}</div>
                        </div>
                        <div class="item-subtitle">{{$list.info.summary}}</div>
                        <div class="item-title-row price-row">
                            <div class="item-title"><span class="price">{{$list.info.current_price}}</span></div>
                            <div class="item-after"><span class="count">{{$list.count}}</span></div>
                        </div>
                    </div>
                </a>
            </li>
            {{/if}} {{/each}}
        </script>
        <script id="page-map-link" type="text/html">
            <div class="list-block media-list">
                <a data-id="{{list.id}}" class="item-content item-link">
                    <div class="item-media">
                        <span class="product-img" style="background-image: url({{list.logo}});"></span>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{list.name}}</div>
                        </div>
                        <div class="item-text">地址：{{list.address}}</div>
                        <div class="item-subtitle">距离{{list.distance}}km</div>
                        <div class="item-subtitle">商品：{{list.pro}}</div>
                    </div>
                </a>
            </div>
        </script>
        <script id="page-map-list-link" type="text/html">
            {{each list as $list i}}
            <li>
                <a data-id="{{$list.id}}" class="item-content item-link">
                    <div class="item-media">
                        <span class="product-img" style="background-image: url({{$list.logo}});"></span>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{$list.name}}</div>
                        </div>
                        <div class="item-text">地址：{{$list.address}}</div>
                        <div class="item-subtitle">距离{{$list.distance}}km</div>
                        <div class="item-subtitle">电话：{{$list.tel}}</div>
                    </div>
                </a>
            </li>
            {{/each}}
        </script>
    </div>
    <script src="js/zepto.min.js"></script>
    <script src="js/sm.js"></script>
    <script src="js/sm-extend.js"></script>
    <script src="js/sm-city-picker.min.js"></script>
    <script src="js/product-picker.js"></script>
    <script src="js/template.js"></script>
    <script src="js/cropper.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="http://map.qq.com/api/js?v=2.exp&libraries=convertor" charset="utf-8"></script>
    <script src="js/default.js"></script>
</body>

</html>