<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="author" content="Wallace Chan">
    <link rel="stylesheet" href="css/default.css">
</head>

<body>
    <div class="page-group">
        <div id="page-party-detail" class="page page-current">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back">
                      <span class="icon icon-left"></span>返回
                    </a>
                <h1 class="title"></h1>
            </header>
        </div>
        <script id="page-party-info" type="text/html">
            <nav class="bar bar-tab">
                {{if check_deadline(list.end_time*1000)}}
                <a class="tab-item big-tab-item button-fill">活动已过期</a>{{else}}
                <a class="tab-item big-tab-item button-fill  {{if list.is_apply==0}}sign-btn button-warning{{else}}button-success{{/if}}"> {{if list.is_apply==1}}已{{/if}}报名</a> {{/if}}
            </nav>
            <div class="content native-scroll">
                <span class="banner" style="background-image: url({{list.image}});"></span>
                <div class="content-block-title">
                    <p>活动时间：{{date_format(list.start_time).date}} ~ {{date_format(list.end_time).date}}</p>
                    <p>报名人数：{{list.apply_num}}/{{list.limit}}</p>
                </div>
                <div class="content-block">
                </div>
            </div>
        </script>
    </div>
    <script src="js/zepto.min.js"></script>
    <script src="js/sm.js"></script>
    <script src="js/sm-extend.js"></script>
    <script src="js/sm-city-picker.min.js"></script>
    <script src="js/product-picker.js"></script>
    <script src="js/template.js"></script>
    <script src="js/cropper.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="http://map.qq.com/api/js?v=2.exp&libraries=convertor" charset="utf-8"></script>
    <script src="js/default.js"></script>
</body>

</html>