<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/default.css">
</head>

<body>
    <div class="page-group">
        <div id="page-user-center" class="page">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-right" href="#page-my-message">
                       <span class="icon icon-comment"></span>
                   </a>
                <h1 class="title">会员中心</h1>
            </header>
            <nav class="bar bar-tab">
                <a class="tab-item" href="index.html">
                  <span class="icon icon-home"></span>
                   <span class="tab-label">首页</span>
                </a>
                <a class="tab-item cart-item" href="cart.html">
                  <span class="icon icon-cart"></span>
                   <span class="tab-label">购物车</span>
                </a>
                <a class="tab-item user-item active" href="user_center.html">
                  <span class="icon icon-user"></span>
                  <span class="tab-label">我</span>
               </a>
            </nav>
            <div class="content native-scroll">
                <div class="user-header-wrapper">
                    <div class="user-header">
                        <div class="avatar-wrapper"><span style="background-image: url();"></span> <i class="icon icon-gender"></i>
                        </div>
                        <p class="username"></p>
                        <div class="header-radius"></div>
                    </div>
                </div>
                <div class="list-block order-block">
                    <ul>
                        <li>
                            <a class="item-content item-link" data-href="#tab0" href="#page-my-order">
                                <div class="item-inner">
                                    <div class="item-title">我的订单</div>
                                    <div class="item-after">查看全部订单</div>
                                </div>
                            </a>
                        </li>
                        <li class="item-content bar-tab-wrapper">
                            <div class="bar-tab">
                                <a class="tab-item" data-href="#tab1" href="#page-my-order">
                                      <span class="icon icon-wallet"></span>
                                      <span class="tab-label">待付款</span>
                                 </a>
                                <a class="tab-item" data-href="#tab2" href="#page-my-order">
                                  <span class="icon icon-car"></span>
                                  <span class="tab-label">待收货</span>
                            </a>
                                <a class="tab-item" data-href="#tab3" href="#page-my-order">
                                  <span class="icon icon-flower"></span>
                                  <span class="tab-label">待评价</span>
                                 </a>
                                <a class="tab-item" data-href="#tab4" href="#page-my-order">
                                  <span class="icon icon-refund"></span>
                                  <span class="tab-label">退款/退货</span>
                            </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-block funciton-block">
                    <ul>
                        <li>
                            <a href="coupon.html" class="item-link item-content">
                                <div class="item-media"><i class="icon icon-coupon"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">我的卡券</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="user_info.html" class="item-link item-content">
                                <div class="item-media"><i class="icon icon-user"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">个人信息</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="address.html" class="item-link item-content">
                                <div class="item-media"><i class="icon icon-my-location"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">我的地址</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="bespeak.html" class="item-link item-content">
                                <div class="item-media"><i class="icon icon-repair"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">报装保修</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="" class="item-link item-content">
                                <div class="item-media"><i class="icon icon-service"></i></div>
                                <div class="item-inner">
                                    <div class="item-title">人工客服</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="page-my-order" class="page">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back">
               <span class="icon icon-left"></span>
                  返回
            </a>
                <h1 class="title">我的订单</h1>
            </header>
            <div class="bar bar-header-secondary">
                <div class="buttons-tab">
                    <a href="#tab0" class="tab-link button">全部</a>
                    <a href="#tab1" class="tab-link button">待付款</a>
                    <a href="#tab2" class="tab-link button">待收货</a>
                    <a href="#tab3" class="tab-link button">待评价</a>
                    <a href="#tab4" class="tab-link button">退款/退货</a>
                </div>
            </div>
            <div class="content native-scroll">
                <div class="tabs">
                    <div id="tab0" class="tab" data-type="all">
                        <div class="list-block cards-list">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div id="tab1" class="tab" data-type="0">
                        <div class="list-block cards-list">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div id="tab2" class="tab" data-type="1">
                        <div class="list-block cards-list">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div id="tab3" class="tab" data-type="3">
                        <div class="list-block cards-list">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div id="tab4" class="tab" data-type="4">
                        <div class="list-block cards-list">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page-my-message" class="page">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back">
                     <span class="icon icon-left"></span>
                     返回
                 </a>
                <h1 class="title">我的消息</h1>
            </header>
            <div class="content infinite-scroll infinite-scroll-bottom" data-distance="100">
                <div class="list-block media-list">
                    <ul>
                    </ul>
                </div>
                <!-- 加载提示符 -->
          <div class="infinite-scroll-preloader">
              <div class="preloader"></div>
          </div>
            </div>
        </div>
                <div id="page-message-detail" class="page">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back">
                     <span class="icon icon-left"></span>
                     返回
                 </a>
                <h1 class="title">消息详情</h1>
            </header>
<div class="content native-scroll">
   <div class="content-block-title"></div>
      <div class="content-block">
        <p class="text"></p>
        <p><a class="button back">确定</a></p>
      </div>

  </div>
        </div>
                                 <script id="page-my-message-item" type="text/html">
                                    {{each list as $list i}}

                        <li>
                            <a   data-id={{$list.id}} class="item-content item-link {{if $list.is_read==0}}unread{{/if}}">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title"></div>
                                        <div class="item-after">{{date_format($list.create_time).datetime}}</div> 
                                    </div>
                                    <div class="item-text">{{$list.content}}</div>
                                </div>
                            </a>
                            </li>
                            {{/each}}
                        </script>
        <script id="page-my-order-item" type="text/html">
            {{each list as $list i}}
            <li class="card" data-order-num="{{$list.order_no}}">
                <div class="card-header">
                    <span>{{date_format($list.create_time).datetime}}</span>
                    <span>{{order_status_format($list.pay_status)}}</span>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="list-block media-list order-block">
                            <ul>
                                {{each $list.products as $product p}}
                                <li class="item-content">
                                    <div class="item-media"><span class="product-img" style="background-image: url({{$product.feng_mian_image}});"></span></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">{{$product.name}}</div>
                                        </div>
                                        <div class="item-subtitle">{{$product.summary}}</div>
                                        <div class="item-title-row price-row">
                                            <div class="item-title"><span class="price">{{$product.current_price}}</span></div>
                                            <div class="item-after"><span class="count">{{$product.count}}</span></div>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="total pull-left">共2件商品<span>合计：￥{{$list.total_price}}</span></span>
                    <span class="pull-right">
                        {{if $list.pay_status==0 }}<a class="cancel-btn" >取消订单</a><a href="order_detail.html?order_num={{$list.order_no}}" class="go-to-pay">去支付</a>
                         {{else if $list.pay_status==1}}<a class="refund-btn" >申请退款</a>
                        {{else if $list.pay_status==2}}<a class="refund-btn">申请退款</a> <a class="receipt-btn">确认收货</a>
                        {{else if $list.pay_status==3}}<a class="refund-btn">申请退货</a> <a href="comment.html?order_num={{$list.id}}">去评价</a> 
                          {{else if $list.pay_status==5}}<a class="refund-btn">申请退货</a>
                    {{/if}}
                </span>
                </div>
            </li>
            {{/each}}
        </script>
    </div>
    <script src="js/zepto.min.js"></script>
    <script src="js/sm.js"></script>
    <script src="js/sm-extend.js"></script>
    <script src="js/sm-city-picker.min.js"></script>
    <script src="js/product-picker.js"></script>
    <script src="js/template.js"></script>
    <script src="js/cropper.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="http://map.qq.com/api/js?v=2.exp&libraries=convertor" charset="utf-8"></script>
    <script src="js/default.js"></script>
</body>

</html>